<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base.html}" >
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="content-wrapper" layout:fragment="main">
    <section class="content-header">
        <h1>
            <small th:replace="common::breadCrumbs"></small>
        </h1>
        <div class="breadcrumb">
            <a href="/admin/goods/category" class="btn btn-sm btn-default btn-flat pull-right">分类列表</a>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <!-- right column -->
            <div class="col-xs-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">分类添加</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" action="/admin/goods/category/save" method="post" th:data-redirect="${referer}">
                        <input th:if="${category}" type="hidden" name="id" th:value="${category.id}">
                        <input type="hidden" name="parentId" th:value="${category} ? ${category.parentId} : ${parentId}">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">父类</label>

                                <div class="col-sm-10 form-text-row">
                                    <span th:text="${parentsName} ? ${parentsName} : '无'"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>

                                <div class="col-sm-10 modal-sm">
                                    <input type="text" name="name" th:value="${category} ? ${category.name} : ''" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">顺序</label>

                                <div class="col-sm-10 modal-sm">
                                    <input type="text" name="sort" th:value="${category} ? ${category.sort} : ${sort}" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info J_Do_Post">提 交</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
</div>
<body>