<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base.html}" >
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="content-wrapper" layout:fragment="main">
    <section class="content-header">
        <h1>
            <small th:replace="common::breadCrumbs"></small>
        </h1>
        <div class="breadcrumb">
            <a href="/admin/goods/goods" class="btn btn-sm btn-default btn-flat pull-right">商品列表</a>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <!-- right column -->
            <div class="col-xs-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">商品添加</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" action="/admin/goods/goods/save" method="post" th:data-redirect="${referer}">
                        <input th:if="${goods}" type="hidden" name="id" th:value="${goods.id}">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-10 modal-sm">
                                    <input type="text" name="name" th:value="${goods} ? ${goods.name} : ''" class="form-control" placeholder="" style="width: 500px;">
                                </div>
                            </div>
                            <div id="category-property">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">价格</label>
                                <div class="col-sm-10 modal-sm">
                                    <input type="text" name="name" th:value="${goods} ? ${goods.price} : ''" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">库存</label>
                                <div class="col-sm-10 modal-sm">
                                    <input type="text" name="name" th:value="${goods} ? ${goods.stock} : ''" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">图片</label>
                                <div class="col-sm-10 modal-sm">
                                    <input type="text" name="image" th:value="${goods} ? ${goods.image} : ''" class="form-control" placeholder="" style="width: 500px;">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info J_Do_Post">提 交</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
</div>
<script type="text/javascript" layout:fragment="js">
    $(document).ready(function (){
        var categoryId = [[${categoryId}]];
        var properties = "[[${properties} ? ${properties} : '']]";
        var url ="/admin/goods/goods/selectCategoryAndProperty?categoryId="+categoryId;
        if (properties != "") {
            url += "&properties="+properties;
        }
        $.get(url, function (data, status) {
            $("#category-property").html(data);
            selectChange();
        });
    });
    function selectChange() {
        $(".category-select").change(function () {
            var catId = $(this).val();
            if (catId != "") {
                $.get("/admin/goods/goods/selectCategoryAndProperty?categoryId=" + catId, function (data, status) {
                    $("#category-property").html(data);
                    selectChange();
                });
            } else {
                var currIndex = $(".category-select").index(this);
                while($(".category-select").size() > currIndex + 1) {
                    $(".category-select").eq(currIndex + 1).remove();
                }
                $(".property-select").remove();
            }
        });
    }
</script>
<body>